.c-banner--gradient {
    position: absolute;
    height: 60vh;
    width: 100%;
    transition: .3s all ease;
}

.c-banner--gradient-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}