.gl-header {
    display: flex;
    justify-content: space-between;
}
.gl-header-nav {
    text-align: right;
    padding: 0;
}

.gl-header-nav-li {
    display: inline;
}

.gl-header-nav-link {
    padding: 1rem;
}

.svg-top {
    width: 100vw;
    position: absolute;
    top: -50px;
    height: 240px;
    pointer-events: none;
    filter: drop-shadow( -5px -5px 5px #000 );

}
.svg-bottom {
    width: 100vw;
    position: absolute;
    bottom: -50px;
    height: 240px;
    pointer-events: none;
    filter: drop-shadow( -5px -5px 5px #000 );
    transform: rotate(180deg);

}
  

  stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
}