.gl-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 20px -4px rgba(0,0,0,.6);
}
.gl-header-nav {
    text-align: right;
    padding: 0;
}

.gl-header-nav-li {
    display: inline;
}

.gl-header-nav-link {
    padding: 1rem;
}

.svg-top {
    width: 100vw;
    position: absolute;
    top: -100px;
    height: 240px;
    pointer-events: none;

}
.svg-bottom {
    width: 100vw;
    position: absolute;
    bottom: -100px;
    height: 240px;
    pointer-events: none;
    transform: rotate(180deg);

}
  

  stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
}